$secondary: rgb(63,81,181);
$buttonColor: rgb(255,87,34);

@mixin background($image){
    background-image: url($image);
    background-size: cover;
    background-position: center;
}
@mixin textStyle($lineHeight, $color){
    line-height: $lineHeight;
    color: $color;
}

html{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: white;
}
.navbar {
    padding:10px 0;
    background: transparent;
    img{
        height: 50px;
    }
    p{
        margin: auto;
        padding-left: 10px;
    }
    .button{
        background-color: $secondary;
    }
    a{
        color:white;
    }
}

#home{
    @include background("~assets/images/banner.jpeg");
    color: white;
    .hero-body{
        padding-left:0;
    }
    .column {
        padding: 0;
        align-items: center;
        height: auto;        
        button{
            background-color: $buttonColor;
            width: 50%;
            border: none;
        }
    }
    .subtitle{
        line-height: 20px;
        font-size: 1em;
        font-weight: bold;
    }
}

#aboutUs{
    .columns{
        @include textStyle(20px, black);

    }
    .founder{
        text-align: center;
        img {
            margin-top:10%;
            filter: grayscale(100%);
        }
    }
}

#conv{
    height: 65vh;
    text-align:center;
    font-weight: bold;
    font-size:2em;
    display: flex;
    justify-content: center;
    align-items: center;
    .filter{
        @include background("~assets/images/quote.jpeg");
        width: 100%;
        height: 65vh;
        filter: brightness(50%);
        position: absolute;
    }
    img{
            height: 100px;
    }

}

#howItWorks{
    height: auto;
    background-image: url("~assets/images/howitworks.jpeg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    .column{
        li{
            @include textStyle(20px, black);
            padding-bottom: 18px;
        }
    }
    .far{
        color: $secondary;
    }
}

#contactUs{
    @include textStyle(30px,white );
    font-weight: bold;
    text-align: center;
    background-color: $secondary;
    i{
        padding-right: 5px;
    }
}

#footer{
    @include textStyle(30px,black );
    padding: 35px;
    text-align: center;
    .fab, a{
        color: black;
    }
}