html {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: white; }

.navbar {
  padding: 10px 0;
  background: transparent; }
  .navbar img {
    height: 50px; }
  .navbar p {
    margin: auto;
    padding-left: 10px; }
  .navbar .button {
    background-color: #3f51b5; }
  .navbar a {
    color: white; }

#home {
  background-image: url("~assets/images/banner.jpeg");
  background-size: cover;
  background-position: center;
  color: white; }
  #home .hero-body {
    padding-left: 0; }
  #home .column {
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto; }
    #home .column button {
      background-color: #ff5722;
      width: 50%;
      border: none; }
  #home .subtitle {
    line-height: 20px;
    font-size: 1em;
    font-weight: bold; }

#aboutUs .columns {
  line-height: 20px;
  color: black; }

#aboutUs .founder {
  text-align: center; }
  #aboutUs .founder img {
    margin-top: 10%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

#conv {
  height: 65vh;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #conv .filter {
    background-image: url("~assets/images/quote.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 65vh;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    position: absolute; }
  #conv img {
    height: 100px; }

#howItWorks {
  height: auto;
  background-image: url("~assets/images/howitworks.jpeg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat; }
  #howItWorks .column li {
    line-height: 20px;
    color: black;
    padding-bottom: 18px; }
  #howItWorks .far {
    color: #3f51b5; }

#contactUs {
  line-height: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: #3f51b5; }
  #contactUs i {
    padding-right: 5px; }

#footer {
  line-height: 30px;
  color: black;
  padding: 35px;
  text-align: center; }
  #footer .fab, #footer a {
    color: black; }
